@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.App, .app {
  width: 100%;
  background-color: #424242;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100%;
}

.app {
  height: 100vh;
}

.App--form-container {
  align-self: center;
}

.Card {
  width: 100%;
  background-color: #e0e0e0;
}

.Card--title {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  color: #388e3c;
  font-family: 'Lobster', cursive;
}

.Card--subtitle {
  font-size: 1.9rem;
  text-align: center;
  font-weight: bolder;
  color: #4caf50;
}

.card-title {
  color: #4caf50;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem !important;
}

.Form--button {
  display: flex;
  margin: 0px auto;
  background-color: #43a047;
}

.Form--button:hover {
  background-color: #388e3c;
}

.Form--errors {
  color: #ff5252;
  font-size: 1rem;
}

.Navbar {
  background-color: #388e3c;
}

.Navbar--brand {
  color: #e0e0e0 !important;
  font-weight: bolder;
  font-family: 'Lobster', cursive;
}

.Navbar--menu-button{
  height: inherit;
  background-color: #388e3c !important;
  color: #e0e0e0;
  border: none;
}

.Navbar--menu-button:hover {
  cursor: pointer;
}

.Menu {
}

.Menu--title {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Roboto', serif;
  color: #eee;
}

.Items {
}

.Items--title {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Roboto', serif;
  color: #eee;
}

.Action-Button button {
  background-color: #4caf50;
}

.Action-Button button:hover {
  background-color: #388e3c;
}
